<%- include('partials/_header') %>

<body id="page-top">

    <!-- Navigation-->
    <%- include('partials/_navbar') %>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Admin Page</div>
            </div>
        </header>

        <!-- <div class="all-title-box">
			<div class="container text-center">
				<h1>DASHBOARD<span class="m_1">ADMIN</span></h1>
			</div>
		</div> -->

		<div id="overviews" class="section wb">
			<div class="container">

				<!-- end row -->

				<div class="row mt-5">
					<h2>Team</h2>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#ID</th>
							<th scope="col">FirstName</th>
							<th scope="col">LastName</th>
							<th scope="col">Add</th>
							<th scope="col">Update</th>
							<th scope="col">Delete</th>
						  </tr>
						</thead>
						<tbody>

								<tr>
									<th scope="row"></th>
									<td></td>
									<td></td>
									<td>
										<a href="#" onclick="return confirm('ARE YOU SURE ?')" class="btn btn-danger rounded-0 text-white">
										<span>
											DELETE
										</span>
										</a>
									</td>
								</tr>

						</tbody>
					  </table>
					<!-- end col -->

					<!-- end col -->
				</div>

				<div class="row mt-5">
					<h2>Portfolio</h2>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Add</th>
							<th scope="col">Delete</th>
						  </tr>
						</thead>
						<tbody>
								<tr>
									<th scope="row"></th>
									<td></td>
									<td>
										<button class="btn btn-lg btn-warning rounded-0 text-white" href="#" data-toggle="modal" data-target="#addCategory">
											<span>ADD</span>
										</button>
									</td>
									<td>
										<a href="#" onclick="return confirm('ARE YOU SURE ?')" class="btn btn-danger rounded-0 text-white">
										<span>
											DELETE
										</span>
										</a>
									</td>
								</tr>
						</tbody>
					  </table>
					<!-- end col -->

					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end section -->
		<!-- ADD Modal -->
		<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body customer-box">

						<!-- Tab panes -->
						<div class="tab-content">

							<div class="tab-pane active" id="Login">

								<form method="POST" action="/categories" class="form-horizontal">

									<div class="form-group">
										<div class="col-sm-12">
											<input type="text" name="name" class="form-control" placeholder="Category Name"/>
										</div>
									</div>

									<div class="row">

										<div class="col-sm-10">
											<button type="submit" class=" btn btn-light btn-radius btn-brd grd1 ">
												Submit
											</button>

											<button type="submit" class=" btn btn-light btn-radius btn-brd grd1 " data-dismiss="modal" aria-hidden="true">
												Cancel
											</button>

										</div>

									</div>

								</form>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

        <%- include('partials/_header') %>